<a href="https://colab.research.google.com/github/ShrutiNilam/LU-Python-B6/blob/master/B1_Python_Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1. Given the following jumbled word, OBANWRI guess the correct English word.
A. RANIBOW
B. RAINBOW
C. BOWRANI
D. ROBWANI

In [ ]:
print("Q1: B RAINBOW")

Q1: B RAINBOW

Q2. Write a program which prints “LETS UPGRADE”. (Please note that you have to
print in ALL CAPS as given)

In [ ]:
print("LETS UPGRADE")

LETS UPGRADE

Q3. Write a program that takes cost price and selling price as input and displays whether the transaction is a
Profit or a Loss or Neither.

In [ ]:
CP = int(input())
SP = int(input())
if CP > SP:
  print("Loss")
elif CP < SP:
  print("Profit")
else:
  print("Neither")

20
30
Profit

In [ ]:
CP = int(input())
SP = int(input())
if CP > SP:
  print("Loss")
elif CP < SP:
  print("Profit")
else:
  print("Neither")

20
10
Loss

In [20]:
CP = int(input())
SP = int(input())
if CP > SP:
  print("Loss")
elif CP < SP:
  print("Profit")
else:
  print("Neither")

20
20
Neither

In [21]:
CP = int(input())
SP = int(input())
if CP > SP:
  print("Loss")
elif CP < SP:
  print("Profit")
else:
  print("Neither")

19
19
Neither

In [22]:
CP = int(input())
SP = int(input())
if CP > SP:
  print("Loss")
elif CP < SP:
  print("Profit")
else:
  print("Neither")

23
7
Loss

In [23]:
CP = int(input())
SP = int(input())
if CP > SP:
  print("Loss")
elif CP < SP:
  print("Profit")
else:
  print("Neither")

19
95
Profit

Q4. Write a program that takes an amount in Euros as input. You need to find its equivalent in
Rupees and display it. Assume 1 Euro equals Rs. 80.

In [12]:
Euros= int(input())
print (Euros*80, "rupees")

20
1600 rupees

In [13]:
Euros= int(input())
print (Euros*80, "rupees")

50
4000 rupees

In [14]:
Euros= int(input())
print (Euros*80, "rupees")

72
5760 rupees

In [15]:
Euros= int(input())
print (Euros*80, "rupees")

7
560 rupees

In [16]:
Euros= int(input())
print (Euros*80, "rupees")

35
2800 rupees

In [17]:
Euros= int(input())
print (Euros*80, "rupees")

23
1840 rupees

In [18]:
Euros= int(input())
print (Euros*80, "rupees")

95
7600 rupees

In [19]:
Euros= int(input())
print (Euros*80, "rupees")

18
1440 rupees